venv/
.env
__pycache__/
*.py[cod]
*$py.class
*.db
instance/
.mypy_cache/
.pytest_cache/
*.egg-info/
dist/
build/
.idea/
.vscode/
*.log
ml_notebooks/.ipynb_checkpoints/
migrations/versions/__pycache__/
opticrop/
